.logo {
  display: flex;
  justify-content: center;
}
.sottotitolo-logo {
  display: flex;
  justify-content: center;
  color: green;
  border-top: solid burlywood;
  background-color: rgba(247, 212, 159, 0.308);
}
.Titolo {
  display: flex;
  justify-content: center;
  text-align-last: center;
}
.Focaccia-commento {
  display: flex;
  justify-content: center;
}
.foto-focaccia {
  margin: auto;
  display: flex;
  justify-content: center;
}
.citazione {
  color: brown;
  text-align: center;
}
.ingredients {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Method {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.link-esterno {
  text-align: center;
}
