.logo {
  display: flex;
  justify-content: center;
}
.sottotitolo-logo {
  display: flex;
  justify-content: center;
  color: green;
  border-top: solid burlywood;
  background-color: rgba(247, 212, 159, 0.308);
}
.Titolo {
  display: flex;
  justify-content: center;
  text-align-last: center;
}
.Focaccia-commento {
  width: 740px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.foto-focaccia {
  margin: auto;
  display: flex;
  justify-content: center;
}
.citazione {
  border-left: 1px solid rgb(201, 168, 62);
  width: 740px;
  margin: 0 auto;
  color: brown;
}
.ingredients {
  width: 740px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Method {
  width: 720px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.link-esterno {
  width: 740px;
  margin: 0 auto;
}
#method-title {
  font-size: 30px;
  width: 740px;
  margin: 0 auto;
}
#ingredients-title {
  font-size: 30px;
}
